name: Build

on:
    push:
    pull_request:

jobs:
    build:
        name: Build Project
        strategy:
            matrix:
                os: [ubuntu-latest, windows-latest]
                preset: [win64-visualstudio-clangcl, win64-visualstudio-msvc, linux-debug, linux-release]
                exclude:
                    - os: windows-latest
                      preset: ninja-multiconfig
                    - os: ubuntu-latest
                      preset: win64-visualstudio-msvc
                    - os: ubuntu-latest
                      preset: win64-visualstudio-clangcl
                    - os: windows-latest
                      preset: linux-debug
                    - os: windows-latest
                      preset: linux-release

        runs-on: ${{ matrix.os }}
        steps:
            - name: Checkout
              uses: actions/checkout@v4.2.2
              with:
                submodules: recursive

            - name: Install CMake
              uses: ssrobins/install-cmake@v1
              with:
                version: 4.1.2

            - name: Build Project
              run: |
                cmake -S . --preset conf-${{ matrix.preset }}
                cmake --build --preset build-${{ matrix.preset }}

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                name: digraph-${{ matrix.preset }}-${{ github.sha }}
                path: build/conf-${{ matrix.preset }}/src/digraph*.exe