name: Build

on:
    push:
    pull_request:

jobs:
    build:
        name: Build Project
        strategy:
            matrix:
                os: [ubuntu-latest, windows-latest]
                preset: [win64-visualstudio-clangcl, win64-visualstudio-msvc, ninja-multiconfig]
                exclude:
                    - os: windows-latest
                      conf_preset: ninja-multiconfig
                    - os: ubuntu-latest
                      conf_preset: win64-visualstudio-msvc
                    - os: ubuntu-latest
                      conf_preset: win64-visualstudio-clangcl

        runs-on: ${{ matrix.os }}
        steps:
            - name: Checkout
              uses: actions/checkout@v4.2.2
              with:
                submodules: recursive

            - name: Install CMake
              uses: ssrobins/install-cmake@v1
              with:
                version: 4.1.2

            - name: Build Project
              run: |
                cmake -S . --preset ${{ matrix.preset }}
                cmake --build --preset build-${{ matrix.preset }}

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                name: digraph-${{ matrix.preset }}-${{ github.sha }}
                path: build/conf-${{ matrix.preset }}/src/digraph*.exe