name: Build

on:
    push:
    pull_request:

jobs:
    build:
        name: Build Project
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest, windows-latest]
                preset: [windows-debug, windows-release, linux-debug, linux-release]
                exclude:
                    - os: ubuntu-latest
                      preset: windows-debug
                    - os: ubuntu-latest
                      preset: windows-release
                    - os: windows-latest
                      preset: linux-debug
                    - os: windows-latest
                      preset: linux-release

        runs-on: ${{ matrix.os }}
        steps:
            - name: Checkout
              uses: actions/checkout@v4.2.2
              with:
                submodules: recursive

            - name: Install CMake
              uses: ssrobins/install-cmake@v1
              with:
                version: 4.2.2

            - name: Install VS 18 2026 Build tools (Windows only)
              if: runner.os == 'Windows'
              run: |
                curl -L -o vs_buildtools.exe ${{ vars.VS_BUILDTOOLS_URL }}
                vs_buildtools.exe --quiet --norestart --installPath ..\vs-install --add Microsoft.VisualStudio.Component.VC.14.43.17.13.x86.x64 --add Microsoft.VisualStudio.Component.VC.Tools.x86.x64 --includeRecommended --noUpdateInstaller

            - name: Build Project
              run: |
                cmake -S . --preset conf-${{ matrix.preset }}
                cmake --build --preset ${{ matrix.preset }}

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                name: digraph-${{ matrix.preset }}-${{ github.sha }}
                path: build/conf-${{ matrix.preset }}/bin/