name: Build

on:
    push: 
    pull_request:

jobs:
    build-and-test:
        name: Build & Test Project
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest, windows-latest]
                preset: [windows-debug, windows-release, linux-debug, linux-release]
                exclude:
                    - os: ubuntu-latest
                      preset: windows-debug
                    - os: ubuntu-latest
                      preset: windows-release
                    - os: windows-latest
                      preset: linux-debug
                    - os: windows-latest
                      preset: linux-release

        runs-on: ${{ matrix.os }}
        steps:
            - name: Checkout
              uses: actions/checkout@v4.2.2
              with:
                submodules: recursive

            - name: Install CMake
              uses: ssrobins/install-cmake@v1
              with:
                version: 4.2.2

            - name: Install VS 18 2026 Build tools (Windows only)
              if: runner.os == 'Windows'
              uses: k3DW/setup-msvc@v1
              with:
                vs-version: "18.2.1"

            - name: Build & Test Project
              run: cmake --workflow --preset workflow-${{ matrix.preset }}

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                name: digraph-${{ matrix.preset }}-${{ github.sha }}
                path: build/conf-${{ matrix.preset }}/bin/